<% provide(:title, 'Users') %>
<h1>Users</h1>
<%= will_paginate %>

    <div class="container">
        <div class="row">
			<div class="h4 col-xs-2 col-sm-2">User Name</div>
			<div class="h4 col-xs-2 col-md-2">Email</div>
			<div class="h4 col-xs-1 col-sm-1">Role</div>
			<div class="h4 col-xs-1 col-sm-1">Actions</div>
		</div>
    </div>

	<ul></ul>

	<div class="container">
    <% @users.each do |user| %>
        <div class="row">
			<div class="col-xs-2 col-sm-2"><%= user.name  %></div>
			<div class="col-xs-2 col-md-2"><%= user.email %></div>
		    <div class="col-xs-1 col-sm-1"><%= image_tag( role_img( user )  , title:  role( user )  , size: 18 ) %>  </div>
			<div class="col-xs-1 col-sm-1"><%= link_to image_tag("view.svg" , title: "User Details" , size: 18 ), user_path(user) %>
                                           <% if current_user.admin? || user == current_user  %>
  		                                              <%= link_to image_tag("edit.svg" , title: "Edit User"    , size: 18 ), edit_user_path(user) %>
                                           <% end %> </div>
		</div>
    <% end %>
    </div>
  
<%= will_paginate %>

