<% provide(:title, 'Projects') %>
<h1>Projects</h1>

<div>
   <% if current_user.admin  %>
   <%= link_to "New Project", new_project_path , { :class=>"btn" }  %>
   <% end %>
</div> 
 
 <%= will_paginate %>

    <div class="container">
        <div class="row">
			<div class="col-xs-2 col-sm-2">Name</div>
			<div class="col-xs-2 col-md-2">State</div>
			<div class="col-xs-1 col-sm-1">Actions</div>
		</div>
    </div>

	<ul></ul>

	<div class="container">
    <% @projects.each do |project| %>
        <div class="row">
			<div class="col-xs-2 col-sm-2"><%= project.name  %></div>
			<div class="col-xs-2 col-md-2"><%= project.active %></div>
			<div class="col-xs-1 col-sm-1"><%= link_to image_tag("view.svg" , title: "Project Details" , size: 18 ), project_path(project) %>
                                                       <% if current_user.admin  %>
  	    	                                       <%= link_to image_tag("edit.svg" , title: "Edit Project"    , size: 18 ), edit_project_path(project) %>
                                                       <% end %> </div>
		</div>
    <% end %>
    </div>
  
<%= will_paginate %>
 
 
