<% provide(:title, 'Projects') %>
<h1><%=  name( @project )  %></h1>

<div class="container">
    <% @Con.each do |connect| %>
        <div class="row">
                        <div class="col-xs-2 col-sm-2"><%= connect.type %></div>
                        <div class="col-xs-2 col-sm-2"><%= connect.url %></div>
                        <div class="col-xs-2 col-sm-2"><%= connect.username %></div>
                        <div class="col-xs-2 col-sm-2"><%= connect.test() %></div>
                        <div class="col-xs-4 col-sm-7"></div>
                </div>
    <% end %>
</div>

